.header {
        width:300px;
        height:30px;
	margin-left:650px;
	background:white;
	box-shadow: 0 0 5px 2px;
}

.sidebar {
        width:1600px;
        height:50px;
	background:white;
	box-shadow: 0 0 5px 2px;
}

.content {
	margin-top:20px;
        width:1600px;
        height:1250px;
	background:white;
	box-shadow: 0 0 5px 2px;
}

.footer {
        width:1600px;
        height:40px;
	background:DimGray;
	box-shadow: 0 0 5px 2px;
}

.sticky {
	position:sticky;
	top:5px;
}

.print {
	color:orange;
}

.text1 {
	font-size:20px;
	color:black;
	line-height:20px;
}

.text {
	font-size:20px;
	color:blue;
	line-height:20px;
}

.number {
	color:red;
}

p {
	margin-top:20px;
	margin-bottom:20px;
}

.image {
	width:600px;
	border:1px solid gray;
	display:flex;
	align-items:center;
}